﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="MeetingManager.Default" MasterPageFile="/Layouts/DefaultLayout.Master" meta:resourcekey="PageResource1" %>

<asp:Content runat="server" ContentPlaceHolderID="Content" ClientIDMode="Static">
    <h1 class="text-center" runat="server" meta:resourcekey="WelcomeTxt"></h1>
</asp:Content>
