﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EditViewForm.aspx.cs" Inherits="MeetingManager.Meetings.EditViewForm" MasterPageFile="/Layouts/ForUsers.master" EnableEventValidation="false" %>

<asp:Content ContentPlaceHolderID="MasterPageForUsers_Content" runat="server">

    <asp:PlaceHolder ID="contentPlace" runat="server"/>

</asp:Content>
