﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EditViewForm.aspx.cs" Inherits="MeetingManager.Expenses.ExpenseEditViewForm" MasterPageFile="/Layouts/ForUsers.master" meta:resourcekey="PageResource1" %>

<asp:Content ContentPlaceHolderID="MasterPageForUsers_Content" runat="server">

          <asp:PlaceHolder ID="contentPlace" runat="server"></asp:PlaceHolder>

</asp:Content>
