﻿<%@ Page Title="" Language="C#" MasterPageFile="/Layouts/ForUsers.master" AutoEventWireup="true" CodeBehind="EditViewForm.aspx.cs" Inherits="MeetingManager.NavigationLinks.EditViewForm" %>

<asp:Content ID="Content" ContentPlaceHolderID="MasterPageForUsers_Content" runat="server">

    <asp:PlaceHolder runat="server" ID="contentPlace"></asp:PlaceHolder>

</asp:Content>
