﻿<%@ Page Title="" Language="C#" MasterPageFile="/Layouts/ForUsers.master" AutoEventWireup="true" CodeBehind="EditViewForm.aspx.cs" Inherits="MeetingManager.Employees.EditViewForm" %>

<asp:Content ContentPlaceHolderID="MasterPageForUsers_Content" runat="server">
    <asp:PlaceHolder ID="contentPlace" runat="server"/>
</asp:Content>
