﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EditViewForm.aspx.cs" Inherits="MeetingManager.Users.EditViewForm" MasterPageFile="/Layouts/ForUsers.master" %>

<asp:Content ContentPlaceHolderID="MasterPageForUsers_Content" runat="server">

        <asp:PlaceHolder ID="contentPlace" runat="server" />

</asp:Content>
